<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <title>{% block title %}Default title{% endblock %}</title>

    {# <link rel="preload" href="./assets/fonts/GothamPro/GothamPro-Regular.woff2" as="font" crossorigin="anonymous" />
    <link rel="preload" href="./assets/fonts/GothamPro/GothamPro-Medium.woff2" as="font" crossorigin="anonymous" /> #}

    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
<div class="site-wrap">
  {% include 'header.twig' %}

  <main class="site-content">{% block page %}{% endblock %}</main>

  {% include 'footer.twig' %}
</div>

<script src="./js/main.js"></script>
</body>
</html>


