<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a><span class="breadcrumbs__arrow"></span>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Категория</a>
        <span class="breadcrumbs__arrow"></span>
      </li>
      <li class="breadcrumbs__item">
        <span href="#" class="breadcrumbs__link">Каталог</span>
      </li>
    </ul>
  </div>
</div>
